CSS

/* :root{
    --primary-color: black;
    --secondary-color: rgb(68, 0, 255);
    --large-button: 24px 32px;
}

button{
    padding: var(--large-button);
    background-color: var(--secondary-color);
}

.box{
    background-color: var(--secondary-color);
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
} */

 .body-container {
     display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap; 
    align-items: flex-start; 
    flex: 0 1 auto;
} 

/* .box3{
    background-color: darkgoldenrod;
    align-self: center;
    flex: 1 1 auto;
}

img{
    width: 50%;
    
    
}

h1,h2,h3,h4,h5{
    color: brown;
    font-size: 80px;
    
}

p{
    color: blue;
    font-size: 100px;
} */


:root{
    --primary-color: black;
    --secondary-color: rgb(0, 255, 149);
    --large-button: 24px 32px;
}


.box{
    background-color: var(--secondary-color);
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
}

.body-container{
    display: grid;
    /* grid-template-columns: 100px 100px 100px; */
    grid-template-columns: repeat(3, 100px);
    /* grid-template-rows: 100% 100% 100% 100% 100%; */
    grid-auto-rows: minmax(100px,auto);
    justify-content: center;
    grid-gap: 15px;
}

